*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* music-player */

.player {
  width: 400px;
  height: 150px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grid-top {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.grid-right {
  display: grid;
  grid-template-rows: 1fr 0.4fr;
}

/* cover */

.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate360 infinite 5s linear;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.cover::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  z-index: 999;
}

@keyframes rotate360 {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

/* music */

.music {
  padding-left: 10px;
}

.music .title {
  display: block;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 2px;
}

.music .lyric {
  display: block;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

/* control */

.control {
  display: flex;
  justify-content: space-around;
}

.control button {
  padding: 0 20px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #eee;
}

.control button:hover {
  transform: translateY(-1px);

  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* progress */

.progress {
  margin-top: 5px;
}

progress {
  width: 100%;
  opacity: 0.6;
  appearance: none;
  height: 30%;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 6px;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, #4caf50, #2e7d32);
  border-radius: 6px;
}
