*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #4476c0;
  color: white;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-container input {
  width: 60%;
  font: inherit;
  padding: 5px 10px;
  border: 1px solid #5c90ce;
}

.article-container {
  margin-top: 20px;
}

.article {
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  background: #5c90ce;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  margin: 0 50px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.article-id {
  display: block;
  background-color: white;
  color: #4476c0;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.article-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.loading {
  position: sticky;
  bottom: 10px;
  display: flex;
}

.circle {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  animation: jump infinite alternate-reverse 0.4s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.circle:nth-of-type(1) {
  animation-delay: 0;
}

.circle:nth-of-type(2) {
  animation-delay: 0.15s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.3s;
}
