*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #39495c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

/* header */

header {
  color: white;
  text-align: center;
}

/* game-container */

.game-container {
  height: 350px;
  width: 450px;
  position: relative;
}

.figure-container {
  fill: transparent;
  stroke: white;
  stroke-width: 3px;
}

.figure-part {
  display: none;
}

.figure-part.show {
  display: block;
}

/* wrong-letters-container */

.wrong-letters-container {
  position: absolute;
  right: 0;
  top: 40px;
  color: white;
  font-size: 20px;
}

/* word */

.word {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  color: white;
}

.word .letter {
  display: block;
  width: 30px;
  height: 40px;
  margin: 0 5px;
  border-bottom: 4px solid #437eb4;
  font-size: 30px;
  text-align: center;
}

#wrong-letters {
  text-align: right;
}

#notification {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 50px;
  border-radius: 12px 12px 0 0;
  display: none;
}

#notification.show {
  display: block;
}

/* popup-container */

.popup-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-container.show {
  display: flex;
}

.popup {
  background-color: #437eb4;
  padding: 25px;
  color: white;
}

#play-btn {
  background-color: white;
  border: none;
  color: #437eb4;
  padding: 10px;
  font: inherit;
}
